<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.jsdt.ui.JsGlobalScopeContainerPage">
      <JsGlobalScopeContainerPage
            class="org.eclipselabs.jsdt.jquery.ui.wizards.buildpaths.JQueryLibraryWizardPage"
            id="org.eclipselabs.jsdt.jquery.ui"
            name="%JsGlobalScopeContainerPage.name">
      </JsGlobalScopeContainerPage>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.ui.JsGlobalScopeUIInitializer">
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.0">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.1">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.2">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.3">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.4">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.5">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.6">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.7">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.8">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.9">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.10">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_2.0">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.0">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.1">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.2">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.3">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.4">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.5">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.6">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.7">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.8">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.9">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.10">
      </JsGlobalScopeUIInitializer>
      <JsGlobalScopeUIInitializer
            class="org.eclipselabs.jsdt.jquery.ui.libraries.JQueryUiInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_2.0">
      </JsGlobalScopeUIInitializer>
   </extension>

</plugin>
