<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery10ConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.0">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery11ConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.1">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery12ConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.2">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery13ConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.3">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery14ConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.4">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery15ConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.5">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery16ConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.6">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery17ConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.7">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery18ConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.8">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery19ConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.CoflictLibrary_1.9">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery10NoConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.0">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery11NoConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.1">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery12NoConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.2">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery13NoConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.3">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery14NoConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.4">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery15NoConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.5">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery16NoConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.6">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery17NoConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.7">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery18NoConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.8">
      </JsGlobalScopeContainerInitializer>
      <JsGlobalScopeContainerInitializer
            class="org.eclipselabs.jsdt.jquery.api.js.JQuery19NoConflictGlobalScopeContainerInitializer"
            id="org.eclipselabs.jsdt.jquery.core.NoCoflictLibrary_1.9">
      </JsGlobalScopeContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.core.inferrenceSupport">
      <inferenceProvider
            class="org.eclipselabs.jsdt.jquery.api.infer.NoConflictJQueryEventInferenceProvider">
      </inferenceProvider>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.core.inferrenceSupport">
      <inferenceProvider
            class="org.eclipselabs.jsdt.jquery.api.infer.ConflictJQueryEventInferenceProvider">
      </inferenceProvider>
   </extension>

</plugin>
